.SkillPillContainer{
    display: flex;  
    justify-content: left; 
}

.SkillPill{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border-color: #03C988;
    border-width: 2px;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    
    
   
}

.SkillLabel{
padding: 0px;
margin: 0px;
color: #03C988;
text-align: center;
}


.ExperienceSection{
    margin-left: 80px;
    margin-right: 80px;
    padding: 15px;

}
