.SkillLabel{
    padding: 0px;
    margin: 0px;
    color: #03C988;
    text-align: center;
}


.ExperienceSection{
    margin-left: 80px;
    margin-right: 80px;
    padding: 15px;

}


.ExperienceItem{
    color: #03C988;
    
}

.CVlink{
    color: #03C988;
    font-size: 20px;
    padding-top: 60px;
    padding-left: 80px;
}