.DualColumns{
    display: flex;
}
.HeroColumn{
    max-width: 40%;
}

.ExperienceColumn{
    max-width: 60%;
}
.tempHead{
    color: white;
}

.tempP{
    color: white;

}

.tempEm{
    color: grey;
}