body{
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom right, #0F172A,#13005A);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.LandingPage{
    text-align: center;
    color: aquamarine;
}